@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  font-family: "Poppins" sans-serif;
}
.container {
  text-align: center;
}
input[type="checkbox"] {
  -webkit-appearance: none;
}
.check {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #111;
  border-radius: 20px;
}
.check:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #444;
  border-radius: 50%;
  transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check:before {
  transform: translateX(20px);
  background: #14f960;
}
.check:after {
  content: "N";
  position: absolute;
  right: -16px;
  top: -5px;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  transition: 0.2s;
  transform: translateX(20px);
}
input[type="checkbox"]:checked ~ .check:after {
  opacity: 1;
  transform: translateX(0px);
}
label h2 {
  margin: 0;
  padding: 0;
  color: #111;
  background: linear-gradient(90deg, #fff, transparent);
  background-size: 200%;
  background-position-x: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  transition: 5s;
  font-weight: 200;
}
input[type="checkbox"]:checked ~ h2 {
  transition-delay: 0.5s;
  background-position-x: 0;
}
